<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home-Page</title>
  
</head>
<body>
  <nav class="contain">
    <%- include("navbar") %>
</nav>

<h1 style="min-height: 60%; text-align: center">Hello! Welcome to my website</h1>

<%- include("footer") %>

</body>
</html>